/* styles.css */

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.first-color { 
	background: #f3cba5; 
}
	
.second-color { 
	background: #975a5e; 
}

.third-color { 
	background: #453953; 
}

.fourth-color { 
	background: #25161b; 
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

header{
  display: flex;
  align-items: center;
  width: 100%;
  height: 150px;
  background-color: #f1f1f1;
}

#content{
  background-color: #25161b;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo{
  font-size: 60px;
  color: #975a5e;
  padding: 20px;
}

nav{
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
  gap: 10px;

}

nav button{
  border: none;
  padding: 20px;
  font-size: 26px;  
}

#home, #menu, #about, #contact{
  border-radius: 20px;
  background-color: #f3cba5;
  width: 33%;
  height: 80%;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#home h3{
  font-size: 60px;
  color: #453953;
}

#home p{
  font-size: 20px;
  color: #453953;
}

#home button{
  border: none;
  background-color: #975a5e;
  color: white;
  padding: 30px;
  font-size: 30px;
  border-radius: 50px;
  scale: 100%;
  transition:ease-in .1s;
}

#home button:hover{
  cursor: pointer;
  scale: 105%;
  transition:ease-in .1s;
}